<% provide :title ,"お問い合わせ" %>
<% provide :contact_active ,"active" %>

<div class="container">
  <div class="h1">お問い合わせ</div>
  <p class="lead">ご覧いただきありがとうございます。不明点ございましたら、どうぞお気軽にお問い合わせください。</p>

  <div class="container">

  <%= form_for @contact,:url => contacts_confirm_path,:html => {:class => 'contact_form'} do |f| %>

    <% if @contact.errors.any? %>
    <div class="alert alert-danger">
      <strong　class="alert-heading">入力内容をご確認ください</strong>
        <ul>
        <% @contact.errors.each do |attr,msg| %>
          <li class="alert-link"><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <dl class="row">
      <dt class="col-sm-12"><%= f.label :name, "お名前" %></dt>
      <dd class="col-sm-12"><%= f.text_field :name, require: true, class: "form-group form-control" %></dd>
      <dt class="col-sm-12"><%= f.label :email, "メールアドレス（半角）" %></dt>
      <dd class="col-sm-12"><%= f.text_field :email, require: true, class: "form-group form-control" %></dd>
      <dt class="col-sm-12"><%= f.label :message, "お問い合わせ内容" %></dt>
      <dd class="col-sm-12"><%= f.text_area :message, require: true, class: "form-group form-control" %></dd>
    </dl>
    <p class="col-sm-12 text-center"><%= f.submit "この内容で送信する",class: "btn btn-primary" %></p>
  <% end %>
  </div>
</div>